{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h1 id="main-center" class="mt-5">Гостевая книга</h1>
{#<!--    <p id="main-center-2"><a href="{% url 'create' %}"><i class="fas fa-plus-circle main-icon"></i></a></p>-->#}
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card my-4" style="width: 18rem">
                <img class="photo" src="{{ product.img }}">
              <div class="card-body">
                  <h5 class="card-title">{{ product.name }}
                  <a href="{% url 'delete' product.pk%}" class="card-icons"><i class="far fa-minus-square"></i></a>
                  <a href="{% url 'update' product.pk %}" class="card-icons"><i class="fas fa-pen-alt"></i></a>
                  <a href="{% url 'product_view' product.pk %}" class="card-icons"><i class="fas fa-info-circle"></i></a> </h5>
                  <i><h6 class="card-category">{{ product.get_category_display }}</h6></i>
                      <hr/>
              <p class="price">Цена: {{ product.price }}</p>
              </div>
            </div>
        </div>
        {% endfor %}
        {#Бонус#}
    </div>
{% endblock %}